<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Черная админка</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<style>
    tr.highlight td {
        background-color: #d3d3d3;
    }
</style>
</head>
<body>
<script type="text/template" id="ad-template">
    <td><%= amount %></td>
    <td><%= currency %></td>
    <td><%= phoneNumber %></td>
    <td><%= rate %></td>
    <td><%= type %></td>
    <td><%= location.city %></td>
    <td><%= location.area %></td>
    <td><%= publishedAt %></td>
    <td><%= comment %></td>
</script>
<div class="container">
    <h1>Черная админка</h1>
    <p>
        <button type="button" class="btn btn-default" id="createNew">Создать новую заявку</button>
        <a class="btn btn-default pull-right" href="index.html">Выход</a>
    </p>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-striped table-hover" id="ads-list">
                <thead>
                <tr>
                    <th>Количество</th>
                    <th>Валюта</th>
                    <th>Телефон</th>
                    <th>Курс</th>
                    <th>Тип</th>
                    <th>Город</th>
                    <th>Район</th>
                    <th>Опубликовано</th>
                    <th>Комментарий</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <span id="status" class="label label-info"></span>
        </div>
        <div class="col-md-4">
            <form id="form" class ="form-horizontal"></form>
        </div>
    </div>
</div>
<script src="../admin.js"></script>
</body>
</html>